<H2>VISIT RECORDS</H2>
<table class="table">
		<thead>
			<tr>
				<th>id</th>
				<th>name</th>
				<th>number</th>
				<th>date</th>
				<th>name</th>
				<th>color</th>
			</tr>
		</thead>
		<tbody>	
			<% @list.each do |var| %>
			<tr>
				<td><%= var['ID'] %></td>
				<td><%= var['client'] %></td>
				<td><%= var['number'] %></td>
				<td><%= var['date'] %></td>
				<td><%= var['barber'] %></td>
				<td style="background-color: <%= var['color'] %>" > <%= var['color'] %> </td>
			</tr>
			<% end %>
		</tbody>
</table>  

